*.user
*.pri
build*/
/Java/MyLittleCheapLibrary/nbproject/private/
/Java/MyLittleCheapLibrary/dist/
/Java/SecureDocumentsGenerator/nbproject/private/
/Java/SecureDocumentsGenerator/dist/
/Java/SecureDocumentsClient/nbproject/private/
/Java/SecureDocumentsClient/dist/